html{box-sizing: border-box;}*{box-sizing: inherit;}

body{
    padding: 0 1%;
    background-color: #A6998C;
    margin: auto;
    width: 90%;
    font-size: 16px;
}

body h2{
    font-size: 30px;
    text-align: center;
    color: #2A453B;
    text-shadow: -2px -3px 2px #AFA397, 2px 3px 5px #685C50;
}

div.addAndEdit{
    display: inline-block;
    width: 25%;
    float: left;
    margin: auto;
    background-color: rgba(193, 184, 174, 0.7);
}

div.information{
    display: block;
    margin: 0 auto;
    text-align: left;
    padding-left: 6%;
}

div.manageSect{
    display: inline-block;
    width: 70%;
    float: right;
}

table{
    width: 90%;
    border-style: solid;
    border-collapse: collapse;
    border-color: rgba(242, 235, 227, 1.0);
    text-align: center;
    margin: auto;
}

table tr{
    border-bottom: 2px;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgba(242, 235, 227, 1.0);
}

tr:nth-child(even) {
    background-color:rgba(193, 184, 174, 0.7);
}

tr:nth-child(odd) {
    background-color:#958675;
}

a{
    color: #2A453B;
}

a:hover{
    color: #558B78;
}

input.addButt{
    margin: 0 auto;
    text-align: centre;
    display: block;
    background-color: #A6C9BD;
}

input.editButt{
    background-color: #A6C9BD;
}

input.cancelButt{
    background-color: #C9A7A7;
}

input.addButt:hover, input.editButt:hover{
    background-color: #2A453B;
    color: #FFF;
}

input.cancelButt:hover{
    background-color: #4C2F2F;
    color: #FFF;
}

div.buttons{
    display: block;
    margin: 0 auto;
    text-align: center;
}


